body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
}

.App {
  width: 1200px;
  height: 300px;
  position: relative;
  padding: 16px;
  margin-left: 50px;
  box-sizing: border-box;
}

.title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}

.vis-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px rgb(74, 74, 74);
  width: 1170px;
}

.controls {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  padding: 16px;
  color: #fff;
  width: 200px;
  border-radius: 16px;
  font-size: 14px;
}

.controls > button,
.reset-button {
  padding: 10px;
  background: #222;
  color: #ccc;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.controls > button:hover,
.reset-button:hover {
  background-color: #111;
  color: #fff;
}

.controls > button.active {
  font-weight: bold;
  background-color: #333;
  color: #ff0;
}

.cylinder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-button {
  position: absolute;
  right: 46px;
  top: 16px;
  z-index: 1;
}

.chart-container {
  padding: 10px;
  /* margin-left: 30px !important; */
}

.chart-section {
  /* display: flex;
  flex-direction: column; */
  border: solid 1px rgb(74, 74, 74);
  padding: 16px;
  /* margin-top: 10px; */
  /* margin-left: 30px !important; */
  /* width: 30%; */
  margin-bottom: 2%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* .chart-section text {
  color: '#FFF';
} */

.bar-chart {
  width: 105%;
}

.line-chart {
  width: 100%;
}

/* Updated CSS for Dropdown */
.dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 1em; /* Adjust as needed */
}

.dropdown-container select {
  /* Add any additional styling here */
}

.trend-section {
  /* display: flex;
  flex-direction: column; */
  border: solid 1px rgb(74, 74, 74);
  padding: 16px;
  /* margin-top: 10px; */
  /* margin-left: 30px !important; */
  /* width: 70%; */
  margin-bottom: 2%;
}

.trend-section tspan {
  color: #000;
}

/* Override the default button styles */
.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #007bff;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Active button */
.nav-link.active,
.nav-link:active,
.nav-link:focus {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Disabled button */
.nav-link.disabled,
.nav-link[disabled] {
  pointer-events: none;
  opacity: 0.65;
}


.pipe-legend {
  position: absolute;
  right: 46px;
  bottom: 16px;
  z-index: 1;
  padding: 0px 5px;
  background: rgba(20, 20, 20, 0.8);
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 8px;
  text-align: center;
}

.pipe-legend .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pipe-legend p {
  margin-top: 5px;
}

dl dt{
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
dl dd{
  display: inline-block;
  margin: 0px 10px;
  padding-bottom: 0;
  vertical-align: middle;
}
dl dt.red{
  background: #FF0000;
}
dl dt.amber{
  background: #FF5733;
}
dl dt.yellow{
  background: #FFFF00;
}
dl dt.green{
  background: #04dc04;
}
